<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874808408771-q83fk81a5l434bc5303rgq7l1jtu924b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874808408771-q83fk81a5l434bc5303rgq7l1jtu924b</string>
	<key>API_KEY</key>
	<string>AIzaSyD_a04aEzroKlMaYQ1cUFdtgKUqgXIp0mM</string>
	<key>GCM_SENDER_ID</key>
	<string>874808408771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bpc</string>
	<key>PROJECT_ID</key>
	<string>bpc-test-88266</string>
	<key>STORAGE_BUCKET</key>
	<string>bpc-test-88266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874808408771:ios:80c737b7421a07a4330076</string>
	<key>DATABASE_URL</key>
	<string>https://bpc-test-88266.firebaseio.com</string>
</dict>
</plist>